.container{
    padding: 2rem 5rem;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.header h1{
    font-size: 2rem;
    font-weight: 700;
    color: #090937;
}

.bookDetails{
    width: 100%;
    height: 36rem;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin-top: 2rem;
}

.bookDetails .bookImage{
    width: 25%;
    background-color: #F4F4FF;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    border: solid 1px #0909371A;
    overflow: hidden;
}

.bookDetails .bookImage img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.bookInfo{
    width: 75%;
}

.bookInfo h2{
    font-size: 2.5rem;
    font-weight: 600;
    color: #000;
    margin: 0.5rem 0 0.625rem 0;
}

.bookInfo h3{
    font-size: 2rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
}

.bookInfo h4{
    font-size: 1.5rem;
    font-weight: 700;
    color: #090937;
    margin: 2rem 0 0.625rem 0;
}

.bookInfo p{
    font-size: 1.5rem;
    font-weight: 600;
    color: rgba(9, 9, 55, 0.6);
}

.Btn{
    width: 100%;
    display: flex;
    justify-content: end;
}

.addToCartBtn {
    width: 25rem;
    height: 3.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #EF6B4A;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }